$bgColor: rgba(14,43,64,1);
$blue: rgba(14,100,216,1);
$lightBlue: rgba(107,146,244,1);
$fontBLue: rgba(111,172,255,1);
$green: rgba(23,190,153,1);
$orange: rgba(231,159,46,1);
$red: rgba(188,74,43,1);
